*{
	margin:0;
	padding: 0;
}

.box{
	margin:auto;
	width: 70%;
	height:600px;
	background-color: pink;
}
.box1{
	background-color: green;
	height:100px;
	width: 25%;
	float: left;
}
.box2{
	background-color: yellow;
	height:100px;
	width: 25%;
    float : left;
}
.box3{
	background-color: green;
	height:100px;
	width: 25%;
	float: left;
}
.box4{
	background-color: yellow;
	height:100px;
	width: 25%;
	clear: left;
}
.wrap {
	background-color: red;
	border: 1px solid white;
	height: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center; 
}
